.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza verticalmente */
  width: 100vw;
  height: 100vh;
  padding: 20px; /* Evita que a imagem encoste nas bordas */
  margin-top: 2rem;
  background-color: var(--bg-light);
  flex-direction: column;
}

.logoHome {
  width: 100vw;
  display: flex;
  justify-content: center;
  animation: fadeIn 2s forwards;
  opacity: 0;
}

.video {
  position: relative;
  z-index: -1;
  width: 100vw;
}

.logo {
  color: var(--text-color);
}

.product {
  padding: 2rem;
  background-color: red;
  height: 30vh;
}

@media screen and (max-width: 1024px) {
  .logoHome {
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .logoHome {
    max-width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .logoHome {
    max-width: 90%; /* Em telas muito pequenas, usa 90% da largura */
    margin-bottom: 75px;
  }
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0.1;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
