.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 7rem;
  background-color: var(--bg-dark);
  bottom: 0;
  opacity: 0;
  font-family: "Poppins";
  z-index: 2;
}

.footerContainerScrolled {
  opacity: 1;
}

.footerContainer p {
  color: var(--bg-light);
  cursor: default;
}

.logoImg {
  will-change: transform;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.logoImg img {
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .footerContainer p {
    font-size: clamp(10px, 2vw, 16px);
  }
}
